// FAQ Accordion Styles
.faq-section {
  position: relative;
  z-index: 1;
  padding: 80px 0;

  &.faq_page{
    .section-header{
      margin-right:inherit;
      margin-bottom: 2.25rem;
          h2.section-title{
            @include h3();
          }
    }
  }

  .section-header{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    @media(min-width:768px){
      margin-right:12rem;
    }

    h2.section-title{
      @include h2();
      margin-bottom:0;
      text-align: left;
    }

    h3{
      @include h3();
      text-align: left;
    }

    p a{
      @include button_dark();
    }


  }

  .faq-container {
    max-width: 800px;
    margin: 0 auto;
    border-top: 1px solid $main-color;

    
  }
}

.rank-math-faq-item{
      border-bottom: 1px solid $main-color;
      padding: 1.25rem 0;
      .rank-math-question{
        font-size:1.375rem;
        margin:0;
        line-height:1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:after{
          content: '+';
          font-size: 1.5rem;
          color: $main-color;
          transition: transform 0.3s ease;
        }
      }

      &.show{
        .rank-math-question:after{
          content: '−';
        }
      }
      .rank-math-answer{
        display: none;
        overflow: hidden;
        margin-top:1.5rem;
        padding-bottom:.5rem;

        a{
          @include link(); 
        }
      }
    }