.news-section{
    position: relative;
    z-index: 1;
    padding: 80px 0;

    .section-header{
        h2.section-title{
            color: inherit;
        }

        h3{
            color: inherit;
        }
    }

    .wp-block-gallery{
        display: flex;
        gap: 1.75rem;
        margin: 0;

        &.columns-4{
            .wp-block-image{
                width: calc(25% - 1.3125rem);
            }
        }
    }

    .slick-list{
      margin-left: -0.875rem;
      margin-right: -0.875rem;

      @media(max-width:767.99px){
        margin-left:0;
        margin-right:-2.5rem;
      }
    }
    .slick-track{
      display: flex !important;
      gap: 1.75rem;
    }

    .slick-slider{
      .slick-next{
        right:.5rem !important;
        top:-2.25rem;
      }
      .slick-prev{
        left:calc(100% - 5.5rem) !important;
        top:-2.25rem;
      }
    

      .slick-slide{
        height: inherit !important;
        display: flex !important;
        
        flex-direction: column;
        overflow: hidden;


         @media(max-width:767.99px){
           max-width: calc(100vw - 5rem);
        }


        & > div{
          height: 100%;
          
        }
      }
    }

    
  }


  .news-slide{
          // height: 100%;
          padding: 0;
          
          .news-image-container{
            border-radius:0.3125rem;
            height:21.875rem;
            overflow:hidden;
          }
          
          a{
            &:after{
                content: none;
            }
          }
          .news-content{
            padding: 1.875rem 0 2.5rem;
            display: flex;
            flex-wrap: wrap;


            a{
              &:hover{
                color: inherit;
              }
            }
            
            .tags{
              flex: 0 0 80%;
              overflow: hidden;

              -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                  line-clamp: 1;

              margin-bottom:1.5rem;
            }

            .date{
              text-align: right;
              flex: 0 0 calc(20%);
            }

            .news-title{
                @include h3();
                font-size:1.375rem;
                line-height:1.2;
                margin-bottom:1.25rem;
            }

            .news-excerpt{
                overflow: hidden;
                display: -webkit-box;
                

                &:not(.show-all){
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  line-clamp: 2;
                  height:2.5rem;
                  overflow: hidden;
                }
            }

            .news-meta{
                .button{
                  margin-top:1.25rem;
                  @include button_dark();
                }
            }
          }
            
          
        }
