.homepage-section{

    &:not(.news){
    
        .homepage-section__top{        
                margin-bottom: 5rem;

            @media(max-width:767px){
                h2.homepage-section__header{
                    margin-bottom:1.75rem;
                }
            }
        }

    }

    &.news{
        .homepage-section__top{
            margin-right:6.25rem;
            h2.homepage-section__header{
                    padding-right:0;
            }
        }
        @media(max-width:767px){
           .homepage-section__top{
                margin-bottom: inherit;
            
                h2.homepage-section__header{
                    margin-bottom:1.75rem;
                }
            }
        }
    }

    #news.slick-slider{
        @media(max-width:767px){
            .slick-slide{
                padding-bottom:0rem;
            }
        }

        .slick-list{
            margin-left: -0.875rem;
            margin-right: -0.875rem;
            }
            .slick-track{
            display: flex !important;
            gap: 1.75rem;
            }
    }

    .homepage-sercions__bottom{
        margin-top:2.5rem;
    }


    @media(max-width:767px){
        .homepage-section__baners-item {
            margin-bottom:2.5rem;

        }
        .homepage-section__title{
            margin-bottom:1.25rem;
        }
        .homepage-section__dsc{
            margin-bottom:0rem;
            font-size: 0.875rem;
        }

        .homepage-section__buttons{
            padding-top:1.25rem;
        }
    }

}
.related-container{
    div[class*="col-"]{
        padding-bottom:1.75rem;
    }
    .related_item{
        border: 1px solid $light-brown-color;
        border-radius: 1rem;
        padding: 1.25rem;
        height: 100%;
        display: flex;
        align-items: center;

        figure{
            width:7.5rem;
            height: 7.5rem;
        }

        .content{
            padding-left:1rem;
            h3{
                font-size:1.375rem;
                line-height: 1.2;
            }

            a.link{
                &:after{
                    border-bottom: 1px solid $light-brown-color;
                }
            }
        }
    }
}

#metamorfoses{
    .slick-list{
        margin-right:-2.5rem;
        @media(min-width: 768px){
            margin-left:-1.25rem;
            margin-right:-1.25rem;
        }

        @media(max-width:767px){
            .slick-slide{
                margin-right:1.75rem;
                max-width: calc(100vw - 5rem);
            }
        }
    }
    .meta-item{
        border-radius: 1rem;
        @media(min-width: 768px){
            padding: 1.25rem;
        }
        text-align: left;
        transition: all $transition-smooth;

        @media(min-width: 768px){
            &:hover{
                background: $light-hover;
                border-color: $light-hover;
            }
        }

        a{

            &:after{    
                content: none;
            }
        }

        h3{
            font-size: 0.875rem;
            margin-top: 1.5rem;
            margin-bottom:0;
        }

        .homepage-section__dsc{
            font-size: 0.875rem;
        }

        .homepage-section__buttons{
           display: flex;
           align-items: center;
           
           a{
            margin-right:1.375rem;
           }
        }

    }
}
.page-template-template_services{
    #services{
        margin-right:0;
    }
}
#services{

    margin-right:-2.5rem;
        @media(min-width: 768px){
            margin-left:-0.875rem;
            margin-right:-0.875rem;
        }

        @media(max-width:767px){
            .slick-slide{
                margin-right:1.75rem;
                max-width: calc(100vw - 5rem);
            }

            .slick-next{
                right:2.5rem !important;
               
            }
            .slick-prev{
                left:calc(100% - 6.5rem) !important;                
            }
        }

    .container{
        padding-bottom:5rem;
        .row{
            margin:0;
            gap:1.5625rem;
            .col-4, .col-md-4{
                padding:0;
                flex: 0 0 calc(33.33333% - 1.0938rem);
                .service-item{
                    margin:0;

                    &:hover{
                        background: $white-color;
                        border-color: $white-color;
                    }
                }
            }
        }
    }

    .service-item{
        @media(min-width: 768px){
            margin-right: 0.875rem;
            margin-left: 0.875rem;
        }
        border: 1px solid $light-brown-color;
        border-radius: 1rem;
        padding: 1.25rem;
        text-align: left;
        transition: all $transition-smooth;

        &:hover{
            background: $light-hover;
            border-color: $light-hover;
        }

        figure{
            width:10rem;
            height: 10rem;
            margin-left:-1.25rem;
            margin-bottom:1.875rem;

            &.fill-box{
                a{
                    &:hover{
                        &:after{
                            content:none;
                        }
                    }
                }
            }
        }


        h3{
            font-size: 1.375rem;
            margin-bottom:1.5rem;
        }

        .homepage-section__dsc{
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
        }

        .homepage-section__buttons{
           display: flex;
           align-items: center;
           
           a{
            margin-right:0.875rem;
            font-size: 0.875rem;
           }
        }
    }
}